<h1>Welcome to Wikiful</h1>
<p>Check out our most recent articles, or browse by <%= link_to "category", categories_path %></p>
<% @recent_articles.each do |article| %>
  <div>
    <h2><%= link_to article.title, article %></h2>
    <p>Published on: <%= article.updated_at.strftime('%b %d, %Y') %></p>
    <p>
      Filed in: <% article.categories.each do |category| %>
        <%= link_to category.name, category %>&nbsp;
      <% end %>
    </p>
    <p>
      <%= truncate(article.content, length: 100) { link_to "read more", article } %>
    </p>
  </div>
<% end %>